systemLog:
    destination: file
    path: "{{ mongodb_logpath | default('/var/log/mongodb/mongod.log') }}"
    logAppend: {{ mongodb_logappend | default('true') }}
    verbosity: {{ mongodb_verbosity | default('0') }}
    quiet: {{ mongodb_quiet | default('false') }}
processManagement:
{% if mongodb_pidfilepath is defined %}
    pidFilePath: {{ mongodb_pidfilepath }}
{% endif %}
    fork: true
net:
    bindIp: {{ mongodb_bind_ip | default('127.0.0.1') }}
{% if mongodb_replSet is defined %}
replication:
    replSetName: "{{ mongodb_replSet }}"
{% endif %}
storage:
    dbPath: {{ mongodb_dbPath | default('/data/db/') }}
    directoryPerDB: {{ mongodb_directoryPerDB | default('true')}}
    journal:
        enabled: {{ mongodb_journal_enabled | default('true')}}
    engine: "wiredTiger"
    wiredTiger:
        engineConfig:
{% if mongodb_cacheSizeGB is defined %}
            cacheSizeGB: {{ mongodb_cacheSizeGB }}
{% endif %}
            journalCompressor: snappy
        collectionConfig:
            blockCompressor: snappy
        indexConfig:
            prefixCompression: true
