description "Meshbird - distributed private networking"
author "meshbird.com"

env MESHBIRD_KEY="{{MESHBIRD_KEY}}"

respawn
respawn limit 15 5

start on runlevel [2345]
stop on runlevel [06]

exec /usr/local/bin/meshbird join 2>&1 >> /var/log/meshbird.log
